/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Main Container */
.homepage-container {
    width: 100%;
    margin: 0 auto;
}

#hero-text{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 450px;
    margin-right: 450px;
}

#hero-text img {
    margin-right: 20px;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
}

.hero-text p {
    font-size: 1.5em;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

.hero-button:hover {
    background-color: green;
}

/* Main Middle Section */
#mainMiddle {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainMiddle h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #003366;
}

#mainMiddle p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Animation Section */
.animation-section {
    position: relative;
    width: 400px; /* Adjust to fit your path width */
    height: 200px; /* Adjust to fit your path height */
    margin: 40px auto;
}

.path-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.motion-path {
    fill: none;
    stroke: lightgray;
    stroke-width: 2;
}

.animated-box {
    width: 50px;
    height: 50px;
    background-color: #ff6600;
    position: absolute;
    border-radius: 50%;
    transform-origin: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #mainMiddle {
        padding: 30px 10px;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1.2em;
    }

    .hero-button {
        font-size: 1em;
    }
}
